.html {
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: inherit;
}
.body {
  background: hsl(210, 8%, 95%);
  font-family: "Lato", sans-serif;
  width: 1200px;
height: 1319px;
flex-shrink: 0;
}

.aside_division {
  padding-top: 40px;
  color: #fff;
  margin-left: 40px;
  margin-top: -40px;
}

.aside {
  width: 370px;
  border: 1px solid #000;
  background: #1e2939;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.unodrederList_listItem {
  color: hsl(34, 85%, 18%);
  margin-left: 0px;
}
.wrapper {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  margin: 0 auto;
  background: #fff;
  box-shadow: 6px 6px 20px 0px rgba(0, 0, 0, 0.1);
}

.aside__image {
  margin-top: 40px;
}

.division__paragraph {
  color: #fff;
}

.paragraph__link {
  color: #fff;
}

.unodrederList__span {
  color: #fff;
}
.aside_division--contacts__division {
  padding-top: 40px;
  margin-left: 40px;
}

.unodrederList {
  margin-left: -10px;
}

.main {
  padding: 102px 88px 102px 88px;
  
}

.main_description {
  margin: 15px;
  width: 400px;
  margin: 0;
}

.JobTitle {
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
}

.Header1 {
  font-size: 45px;

  font-weight: 700;
  line-height: normal;
}

.description {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 40px;
}

.headerSecond {
  color: #000;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 12px;
}

.listItem {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  padding-left: 0px;
  list-style-position: inside;
}

.listPrimarItem {
  color: #595959;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-decoration-line: underline;
  text-decoration: none;
}

.jobName {
  color: hsl(0, 0%, 0%);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.jobName__status {
  color: hsl(16, 96%, 61%);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.jobDate {
  color: hsl(0, 0%, 66%);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.jobSkills {
  color: #595959;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  padding-left: 0px;
  list-style-position: inside;
}
.element{
color: hsl(0, 0%, 0%);
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.uniwersity {
color: hsl(0, 0%, 0%);
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.button { 
  padding: 1px solid hsl(0, 0%, 0%);
  background: hsl(16, 96%, 61%);
}
